.vscode/**
.vscode-test/**
src/**
!src/webview-ui/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
!src/webview-ui/**/*.html
!src/webview-ui/**/*.css
!src/webview-ui/**/*.js